/* body,html {
  height: 100%;
  background: honeydew;
}
html, body, header {
  margin:0;
  padding:0;
}
#head h3{

  background-color: #2e2b27;
  color: white;
  padding: 10px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
} */
body{
  background: url('../Images/motivation.jpg')
        no-repeat center center fixed;
        background-size: cover;

}
/* #container{
  max-width: 960px;
  margin: 0 auto;
}
#bg-image{
  width: 100%;
  padding-top: 42%;
  background-size:cover ;
} */